@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: Pretendard;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 10px;
}

section > h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
}

.card-wrap > .card {
    width: 32%;
}

.card-wrap > .card > img {
    height: 250px;
}

.row-link {
    text-align: center;
    font-weight: 700;
}

.inner-table {
    flex-direction: row;
}

.inner-table > .nav {
    flex-direction: column;
    width: 10%;
} 

@media screen and (max-width: 991px) {
    .inner-table {
        flex-direction: column;
    }
    .inner-table > .nav {
        flex-direction: row;
        width: 100%;
    }
}